[core]
	editor = vim
[alias]
	graphthis = log --oneline --decorate --graph
	graph = log --oneline --decorate --graph --exclude="mitko/*_bak?" --branches --exclude="*/mitko/*_bak?" --remotes --tags
	graphall = log --oneline --decorate --graph --all
	unpushed = log --exclude="mitko/*_bak?" --branches --not --remotes --no-walk --decorate --oneline
	unpushedall = log --branches --not --remotes --no-walk --decorate --oneline
	sign = rebase --exec 'git commit --amend --no-edit -n -S' -i
[branch]
	autoSetupRebase = always
[commit]
	gpgSign = true
[gc]
	reflogExpire = never
	reflogExpireUnreachable = never
[init]
	defaultBranch = main
[rebase]
	stat = true
	autoSquash = true
	autoStash = true
	missingCommitsCheck = warn
	abbreviateCommands = true
[rerere]
	enabled = true
[tag]
	gpgSign = true
[protocol "file"]
	allow = always
[include]
	path = ~/.local_gitconfig
